# This is a basic workflow to help you get started with Actions 

name: Documentation

on:
  push:
    branches: [main]
    tags: '*'
  pull_request:
  release:
    types: [published]

jobs:
  Documenter:
    name: Documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: julia-actions/setup-julia@latest
      - uses: actions/cache@v3
        env:
          cache-name: cache-artifacts
        with:
          path: ~/.julia/artifacts
          key: ${{ runner.os }}-docs-${{ env.cache-name }}-${{ hashFiles('**/Project.toml') }}
          restore-keys: |
            ${{ runner.os }}-docs-${{ env.cache-name }}-
            ${{ runner.os }}-docs-
      - name: Add Julia registries
        run: |
          using Pkg
          Pkg.Registry.add(RegistrySpec(name="General"))
          Pkg.Registry.add(RegistrySpec(url="https://github.com/ACEsuit/ACEregistry"))
        shell: julia --color=yes {0}
        
      - name: Set up Python dependencies
        id: python-install
        run: | 
          python3 -m pip install ase mace-torch==0.3.3 torch==2.3.0
          echo "python=$(which python3)" >> $GITHUB_OUTPUT

      - name: Instantiate Docs environment
        run: |
          using Pkg
          Pkg.instantiate()
        shell: julia --color=yes --project=docs/ {0}

      - name: Build Documentation and deploy
        run: julia --color=yes --project=docs/ docs/make.jl
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DOCUMENTER_KEY: ${{ secrets.DOCUMENTER_KEY }}
          GKSwstype: "100" # https://discourse.julialang.org/t/generation-of-documentation-fails-qt-qpa-xcb-could-not-connect-to-display/60988
          JULIA_PYTHONCALL_EXE: ${{ steps.python-install.outputs.python }} # Hardcode Python executable to the one previously installed. 
          JULIA_CONDAPKG_BACKEND: "None"

